{% extends 'base.html.twig' %}

{% block title %}Hello World!{% endblock %}

{% block body %}
    <main class="container">


    {% set _sc = 'scanner' %}
    <a href="{{ path('app_scan') }}" class="btn">
        <button>
            Load Scanner
        </button>
    </a>
    <hr />

        <div hx-get="{{ path('app_list') }}"
             hx-target="this"
             hx-trigger="load, every 3s"
        >
        </div>


    </main>
{% endblock %}
