{% extends 'base.html.twig' %}

{% block title %}Hello World!{% endblock %}

{% block body %}
    <main class="container">


    {% set _sc = 'scanner' %}
    <a href="{{ path('app_scan') }}" class="btn">
        <button>
            Load Scanner
        </button>
    </a>
    <hr />

        {% for book in books %}
            <li>{{ book.title }}</li>
        {% endfor %}

    </main>
{% endblock %}
