{% extends 'base.html.twig' %}

{% block title %}Hello World!{% endblock %}

{% block body %}
    <main class="container">

    {% set _sc = 'scanner' %}
    <a href="{{ path('app_scan') }}" class="btn">
        <button>
            <i class="bi bi-upc-scan"></i>
            Start Scanning
        </button>
    </a>
    <hr />

        data-content-loader-lazy-loading-value=""
        <div
                data-controller="content-loader"
                data-content-loader-url-value="{{ path('app_list') }}"
                data-content-loader-load-scripts-value="true"
                data-content-loader-refresh-interval-value="5000"
        >
            <i class="bi bi-book-half"></i>
        </div>

{#        <div hx-get=""#}
{#             hx-target="this"#}
{#             hx-trigger="load, every 3s"#}
{#        >#}
{#        </div>#}


        <hr />
        <form>
            <input type="text">
            <button>Submit</button>
        </form>
    </main>
{% endblock %}
