{% extends 'base.html.twig' %}

{% block title %}Hello World!{% endblock %}

{% block body %}
    {% if app.user %}
    <img src="{{ qr_code_url(absolute_url(path('app_login', app.user ? {email:  app.user.email} : {}))) }}" />
        <p>Login as {{ app.user.email }}</p>
    {% else %}
    <img src="{{ qr_code_url(absolute_url(path('app_homepage', app.user ? {email:  app.user.email} : {}))) }}" />
    {% endif %}
{% endblock %}
