{% extends '@SurvosMobile/onsPage.html.twig' %}
{% block tabId 'blank' %}
{#{% block toolbar %}#}
{#    {{ parent() }}#}
{#    <div class="center">home?</div>#}
{#{% endblock %}#}

{% block body %}
    <i>blank tabbed page</i>
{% endblock %}
