{% extends "@SurvosMobile/onsPage.html.twig" %}

{% block pageId 'credits' %}
{% block body %}

    See the original at
    <a target="_blank" href="https://audio.nationalgalleries.org/hill-and-adamson/index.html">https://audio.nationalgalleries.org/hill-and-adamson/index.html</a>

{% endblock %}
